{% load static %}
<footer>
    <section class="footer__area-common theme-bg-heading-primary overflow-hidden">
        <div class="footer__bg" data-background="{% static 'assets/imgs/footer/bg.jpg"></div>
        <div class="footer__top">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 text-lg-start text-center rr-mb-40-md">
                        <div class="footer-cta__content-text">
                            <h2 class="footer-cta__content-title color-white">Подпишитесь на рассылку для получения последних обновлений
                            </h2>
                        </div>
                    </div>
                    <div class="col-lg-6 text-lg-end text-center">
                        <div class="footer__widget-subscribe pl-110 rr-pl-none-lg">
                            <input type="text" placeholder="Email Address">
                            <button type="submit" class="rr-btn">
                                <span class="btn-wrap">
                                    <span class="text-one">Подпишитесь сейчас</span>
                                    <span class="text-two">Подпишитесь сейчас</span>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__main-wrapper footer__bottom-border">
            <div class="container">
                <div class="row mb-minus-50">
                    <div class="col-lg-4 col-6">
                        <div class="footer__widget footer__widget-item-1">
                            <div class="footer__logo mb-35 mb-xs-30">
                                <a href="index.html">
                                    <img class="img-fluid" src="{{setting.logo.url}}" alt="logo not found">
                                </a>
                            </div>

                            <div class="footer__content mb-30 mb-xs-35">
                                <p class="mb-0">{{setting.desc}}</p>
                            </div>

                            <div class="footer__social"> 
                                <a href="{{setting.facebook}}"><img src="{% static 'assets/imgs/icon/facebook.svg' %}" alt="image not found"></a>
                                <a href="{{setting.linkedin}}"><img src="{% static 'assets/imgs/icon/linkedin.svg' %}" alt="image not found"></a>
                                <a href="{{setting.instagram}}"><img src="{% static 'assets/imgs/icon/instagram.svg' %}" alt="image not found"></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-6">
                        <div class="footer__widget footer__widget-item-2">
                            <div class="footer__widget-title">
                                <h4>Страницы</h4>
                            </div>
                            <div class="footer__link">
                                <ul>
                                    <li><a href="{% url 'about'%}">О нас</a></li>
                                    <li><a href="{% url 'team' %}">Наша комманда</a></li>
                                    <li><a href="{% url 'news' %}">Новости</a></li>
                                    <li><a href="{% url 'project' %}">Проэкты</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-6">
                        <div class="footer__widget footer__widget-item-3">
                            <div class="footer__widget-title">
                                <h4>Наши услуги</h4>
                            </div>

                            <div class="footer__link">
                                <ul>
                                {% for service in panel_service %}
                                   <li><a href="">{{service.title}}</a></li>
                                   {% endfor %}
                                   
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2 col-6">
                        <div class="footer__widget footer__widget-item-4">
                            <div class="footer__widget-title">
                                <h4>Контакты</h4>
                            </div>

                            <div class="footer__link footer__link-contact">
                                <ul>
                                    <li>
                                        <span class="icon">
                                            <img src="{% static 'assets/imgs/icon/call.svg' %}" alt="">
                                        </span>
                                        <span class="text">
                                            <span>Телефон</span>
                                            <a href="tel:{{setting.phone}}">{{setting.phone}}</a>
                                        </span>
                                    </li>
                                    <li>
                                        <span class="icon">
                                            <img src="{% static 'assets/imgs/icon/mail.svg' %}" alt="">
                                        </span>
                                        <span class="text">
                                            <span>Электронная почта</span>
                                            <a href="mailto:{{setting.email}}">{{setting.email}}</a>
                                        </span>
                                    </li>
                                    <li class="address">
                                        <span class="icon">
                                            <img src="{% static 'assets/imgs/icon/map.svg' %}" alt="">
                                        </span>
                                        <span class="text">
                                            <a target="_blank" href="mailto:{{setting.email}}"> {{setting.address}}
                                            </a>
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="footer__copyright text-lg-start text-center">
                            <p class="mb-0">©Codex </p>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="footer__copyright--who-create text-lg-end text-center">
                            <p>Created By <a href="https://rrdevs.net/">Codex</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</footer>