{% extends "include/homepage.html" %}
{% load static %}
{% block content %}

<!--[if lte IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
<![endif]-->

<!-- preloader start -->
<!-- style 1 -->
<div id="preloader" data-preloader="active" data-loaded="doted">
    <div class="preloader-close">x</div>
    <div class="sk-three-bounce">
        <div class="sk-child sk-bounce1"></div>
        <div class="sk-child sk-bounce2"></div>
        <div class="sk-child sk-bounce3"></div>
    </div>
</div>

<!-- style 2 -->
<div class="preloader" data-preloader="deactive" data-loaded="progress">
    <div class="preloader-close">x</div>
    <div class="wrapper w-100 text-center">
        <div id="progress-bar" class="preloader-text" data-text="RIBUILD"></div>
        <div class="progress-bar">
            <div class="progress"></div>
        </div>
    </div>
</div>
<!-- preloader end -->

<!-- preloader start -->
<div class="loading-form">
    <div class="sk-three-bounce">
        <div class="sk-child sk-bounce1"></div>
        <div class="sk-child sk-bounce2"></div>
        <div class="sk-child sk-bounce3"></div>
    </div>
</div>
<!-- preloader end -->

<!-- Backtotop start -->
<div id="scroll-percentage">
    <span id="scroll-percentage-value"></span>
</div>
<!-- Backtotop end -->

<!-- cursorAnimation start -->
<div class="cursor-wrapper relative">
    <div class="cursor"></div>
    <div class="cursor-follower"></div>
</div>
<!-- cursorAnimation end -->

<!-- search popup start -->
<div class="search__popup">
    <div class="container">
        <div class="row gx-30">
            <div class="col-xxl-12">
                <div class="search__wrapper">
                    <div class="search__top d-flex justify-content-between align-items-center">
                        <div class="search__logo">
                         
                        </div>
                        <div class="search__close">
                            <button type="button" class="search__close-btn search-close-btn">
                                <svg width="18" height="18" viewBox="0 0 18 18" fill="none">
                                    <path d="M17 1L1 17" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                          stroke-linejoin="round" />
                                    <path d="M1 1L17 17" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                          stroke-linejoin="round" />
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="search__form">
                        <div class="search__input">
                            <input id="search-input" class="search-field" type="text" placeholder="Начните вводить для поиска...">
                        </div>
                        <div class="search-results"></div>
                    </div>
                    
                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var searchInput = document.querySelector('.search-field');
        var searchResults = document.querySelector('.search-results');
    
        // Отслеживаем ввод в поле поиска
        searchInput.addEventListener('input', function () {
            searchResults.classList.add('showSearch');
            performSearch();
        });
    
        function performSearch() {
            var query = searchInput.value.trim();  // Убираем пробелы в начале и конце
    
            if (query.length > 2) {
                // Отправляем AJAX-запрос на сервер
                fetch('/project/search/?query=' + encodeURIComponent(query))
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Ошибка сети');
                        }
                        return response.json();
                    })
                    .then(data => {
                        // Очищаем предыдущие результаты
                        searchResults.innerHTML = '';
                        let foundSomething = false;
    
                        // Отображаем результаты поиска по проектам
                        if (data.project && data.project.length > 0) {
                            foundSomething = true;
                            searchResults.innerHTML += '<h3>Проекты</h3>';
                            data.project.forEach(function(project) {
                                searchResults.innerHTML += `
                                    <div>
                                        <a href="/project/${project.id}/" class="search-result-link">
                                            <strong>${project.title}</strong>
                                        </a>
                                    </div>`;
                            });
                        }
    
                        // Отображаем результаты поиска по новостям
                        if (data.news && data.news.length > 0) {
                            foundSomething = true;
                            searchResults.innerHTML += '<h3>Новости</h3>';
                            data.news.forEach(function(news) {
                                searchResults.innerHTML += `
                                    <div>
                                        <a href="/news/${news.id}/" class="search-result-link">
                                            <strong>${news.title}</strong>
                                        </a>
                                    </div>`;
                            });
                        }
    
                        // Если ничего не найдено
                        if (!foundSomething) {
                            searchResults.innerHTML = '<p>Ничего не найдено.</p>';
                        }
                    })
                    .catch(error => {
                        console.error('Ошибка при выполнении запроса:', error);
                        searchResults.innerHTML = 'Произошла ошибка при поиске. Пожалуйста, попробуйте позже.';
                    });
            } else {
                // Очищаем результаты, если введено меньше 3 символов
                searchResults.innerHTML = '';
            }
        }
    });
</script>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- search popup end -->

<!-- Offcanvas area start -->
<div class="fix">
    <div class="offcanvas__area">
        <div class="offcanvas__wrapper">
            <div class="offcanvas__content">
                <div class="offcanvas__top d-flex justify-content-between align-items-center">
                    <div class="offcanvas__logo">
                        <a href="index.html">
                            <img src="{% static 'assets/imgs/logo/logo-white.svg' %}" alt="logo not found">
                        </a>
                    </div>
                    <div class="offcanvas__close">
                        <button class="offcanvas-close-icon animation--flip">
                                <span class="offcanvas-m-lines">
                              <span class="offcanvas-m-line line--1"></span><span class="offcanvas-m-line line--2"></span><span class="offcanvas-m-line line--3"></span>
                                </span>
                        </button>
                    </div>
                </div>
                <div class="mobile-menu fix"></div>
                <div class="offcanvas__social">
                    <h4 class="offcanvas__title mb-20">Subscribe & Follow</h4>
                    <p class="mb-30">The scallops were perfectly cooked, tender, and flavorful, paired beautifully with a creamy risotto and seasonal vegetables. The presentation was artful, showcasing the chef's attention to detail.</p>
                    <ul class="header-top-socail-menu d-flex">
                        <li><a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="https://www.linkedin.com/"><i class="fa-brands fa-linkedin-in"></i></a></li>
                        <li><a href="https://www.pinterest.com/"><i class="fa-brands fa-pinterest-p"></i></a></li>
                        <li><a href="https://vimeo.com/"><i class="fa-brands fa-vimeo-v"></i></a></li>
                    </ul>
                </div>
                <div class="offcanvas__btn">
                    <div class="header__btn-wrap">
                        <a href="contact.html" class="rr-btn__header d-sm-none mb-10 w-100">
                            <span class="btn-wrap">
                                <span class="text-one">Get Started</span>
                                <span class="text-two">Get Started</span>
                            </span>
                        </a>
                        <a href="https://themeforest.net/user/rrdevs/portfolio" class="rr-btn__header w-100">
                            <span class="btn-wrap">
                                <span class="text-one">Purchase Now</span>
                                <span class="text-two">Purchase Now</span>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="offcanvas__overlay"></div>
<div class="offcanvas__overlay-white"></div>
<!-- Offcanvas area start -->

<!-- Header area start -->
{% include 'include/header.html' %}
<!-- Header area end -->

<main>
    <!-- Breadcrumb area start  -->
    <div class="breadcrumb__area breadcrumb-space overly theme-bg-heading-primary overflow-hidden">
        <div class="breadcrumb__background" data-background="{{about.banner.url}}"></div>
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-12">
                    <div class="breadcrumb__content text-center">
                        <h1 class="breadcrumb__title color-white title-animation">{{project.title}}</h1>
                        <div class="breadcrumb__menu d-inline-flex justify-content-center">
                            <nav>
                                <ul>
                                    <li>
                                        <span>
                                            <a href="{% url 'index' %}">
                                                <svg width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M1 5.9L7.5 1L14 5.9V13.6C14 13.9713 13.8478 14.3274 13.5769 14.5899C13.306 14.8525 12.9386 15 12.5556 15H2.44444C2.06135 15 1.69395 14.8525 1.42307 14.5899C1.15218 14.3274 1 13.9713 1 13.6V5.9Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                                <path d="M5.33398 15V8H9.66732V15" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                                </svg>

                                                Главная
                                            </a>
                                        </span>
                                    </li>
                                    <li><span><a href="{% url 'project' %}">Наши проэкты</a></span></li>
                                    <li class="active"><span>{{project.title}}</span></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb area start  -->

    <!--project-details start-->
    <section class="project-details section-space__top mb-60">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="project-details__media-wrapper position-relative z-1 mb-40">
                        <div class="swiper project-details__media__slider">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="project-details__media__item">
                                        <img src="{{project.banner.url}}" class="img-fluid" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="project-details__media__slider__arrow">
                                <button class="project-details__media__slider__arrow-prev">
                                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M17 9H0.999999" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M9 1L1 9L9 17" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </button>
                                <button class="project-details__media__slider__arrow-next">
                                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1 9H17" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M9 1L17 9L9 17" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-8">
                            <div class="project-details__content">
                                <div class="project-details__content-text-block">
                                    <h3>О проэкте</h3>

                                    <p>{{project.desc}}</p>

                                </div>

                                <div class="media-group">
                                    {% for project in project.project_image.all %}
                                    <div class="media">
                                        <img src="{{project.image.url}}" alt="image not found">
                                    </div>
                                    {% endfor %}
                                </div>

                                
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="project-details__author project-details__author__up position-relative z-3">
                                <h4 class="heading-title">Информация о проекте:</h4>

                                <div class="project-details__author-body">
                                    <div class="project-details__author-item__wrapper">
                                        {% for project in project.project_info.all%}
                                        <div class="project-details__author-item d-flex flex-column">
                                            <span class="sub-t">{{project.key}}:</span>
                                            <span class="title">{{project.valuem}}</span>
                                        </div>
                                        {% endfor %}
                                        
                                    </div>

                                    <
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--project-details end-->

    <div class="container">
        <div class="vertical-bar"></div>
    </div>

    <!-- related-projects area start -->
    <section class="related-projects section-space__top-80">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section__title-wrapper text-center mb-60 mb-sm-40 mb-xs-35">
                        <h2 class="section__title title-animation text-capitalize mb-0 rr-br-hidden-md" data-cursor="-opaque">Связанные проекты</h2>
                    </div>
                </div>
            </div>

            <div class="row mb-minus-30">
                {% for rec_project in rec_project %}
                <div class="col-lg-4 col-md-6">
                    <div class="latest-project__item mb-30">
                        <div class="latest-project__item-thumb">
                            <img src="{{rec_project.image.url}}" alt="">
                        </div>
                        <div class="latest-project__item-content">
                            <div class="icon__wrapper">
                                <a href="{% url 'project_detail' rec_project.id %}" class="icon">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M22.4574 0H4.31707C3.46373 0 2.76981 0.693784 2.76981 1.54695C2.76981 2.40012 3.46373 3.0939 4.31707 3.0939H18.7159L0.453626 21.3573C-0.151209 21.962 -0.151209 22.9417 0.453626 23.5465C1.05846 24.1512 2.03839 24.1512 2.64322 23.5465L20.9055 5.28307V19.6791C20.9055 20.5323 21.5994 21.226 22.4527 21.226C23.3061 21.226 24 20.5323 24 19.6791V1.54695C24.0047 0.693784 23.3107 0 22.4574 0Z" fill="white"/>
                                    </svg>
                                </a>
                            </div>

                            <div class="text">
                                <span class="subtitle color-white d-block">{{rec_project.category}}</span>
                                <h4 class="title color-white"><a href="{% url 'project_detail' rec_project.id %}">{{rec_project.title}}</a></h4>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <div class="col-lg-4 col-md-6">
                    <div class="latest-project__item mb-30">
                        <div class="latest-project__item-thumb">
                            <img src="{% static 'assets/imgs/our-projects/latest-project__item-10.jpg' %}" alt="">
                        </div>
                        <div class="latest-project__item-content">
                            <div class="icon__wrapper">
                                <a href="project-details.html" class="icon">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M22.4574 0H4.31707C3.46373 0 2.76981 0.693784 2.76981 1.54695C2.76981 2.40012 3.46373 3.0939 4.31707 3.0939H18.7159L0.453626 21.3573C-0.151209 21.962 -0.151209 22.9417 0.453626 23.5465C1.05846 24.1512 2.03839 24.1512 2.64322 23.5465L20.9055 5.28307V19.6791C20.9055 20.5323 21.5994 21.226 22.4527 21.226C23.3061 21.226 24 20.5323 24 19.6791V1.54695C24.0047 0.693784 23.3107 0 22.4574 0Z" fill="white"/>
                                    </svg>
                                </a>
                            </div>

                            <div class="text">
                                <span class="subtitle color-white d-block">Residencial</span>
                                <h4 class="title color-white"><a href="project-details.html">Home Construction</a></h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="latest-project__item mb-30">
                        <div class="latest-project__item-thumb">
                            <img src="{% static 'assets/imgs/our-projects/latest-project__item-9.jpg' %}" alt="">
                        </div>
                        <div class="latest-project__item-content">
                            <div class="icon__wrapper">
                                <a href="project-details.html" class="icon">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M22.4574 0H4.31707C3.46373 0 2.76981 0.693784 2.76981 1.54695C2.76981 2.40012 3.46373 3.0939 4.31707 3.0939H18.7159L0.453626 21.3573C-0.151209 21.962 -0.151209 22.9417 0.453626 23.5465C1.05846 24.1512 2.03839 24.1512 2.64322 23.5465L20.9055 5.28307V19.6791C20.9055 20.5323 21.5994 21.226 22.4527 21.226C23.3061 21.226 24 20.5323 24 19.6791V1.54695C24.0047 0.693784 23.3107 0 22.4574 0Z" fill="white"/>
                                    </svg>
                                </a>
                            </div>

                            <div class="text">
                                <span class="subtitle color-white d-block">Residencial</span>
                                <h4 class="title color-white"><a href="project-details.html">Home Construction</a></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- related-projects area start -->

    <!-- our-clients area start -->
    <div class="our-clients section-space-80">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="swiper brand__active">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="brand__item text-center">
                                    <a href="http://themeforest.net" class="brand__thumb brand__thumb-hover-secondary">
                                        <img class="img-fluid" src="{% static 'assets/imgs/brand/brand-1.png' %}    " alt="image not found">
                                    </a>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="brand__item text-center">
                                    <a href="http://themeforest.net" class="brand__thumb brand__thumb-hover-secondary">
                                        <img class="img-fluid" src="{% static 'assets/imgs/brand/brand-2.png' %}    " alt="image not found">
                                    </a>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="brand__item text-center">
                                    <a href="http://themeforest.net" class="brand__thumb brand__thumb-hover-secondary">
                                        <img class="img-fluid" src="{% static 'assets/imgs/brand/brand-3.png' %}    " alt="image not found">
                                    </a>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="brand__item text-center">
                                    <a href="http://themeforest.net" class="brand__thumb brand__thumb-hover-secondary">
                                        <img class="img-fluid" src="{% static 'assets/imgs/brand/brand-4.png' %}    " alt="image not found">
                                    </a>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="brand__item text-center">
                                    <a href="http://themeforest.net" class="brand__thumb brand__thumb-hover-secondary">
                                        <img class="img-fluid" src="{% static 'assets/imgs/brand/brand-5.png' %}    " alt="image not found">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- our-clients area end -->
</main>
<!-- Footer area end -->
{% include 'include/footer.html' %}
<!-- Footer area start -->

{% endblock %}