{% extends "include/homepage.html" %}
{% load static %}
{% block content %}

<!--[if lte IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
<![endif]-->

<!-- preloader start -->
<!-- style 1 -->
<div id="preloader" data-preloader="active" data-loaded="doted">
    <div class="preloader-close">x</div>
    <div class="sk-three-bounce">
        <div class="sk-child sk-bounce1"></div>
        <div class="sk-child sk-bounce2"></div>
        <div class="sk-child sk-bounce3"></div>
    </div>
</div>

<!-- style 2 -->
<div class="preloader" data-preloader="deactive" data-loaded="progress">
    <div class="preloader-close">x</div>
    <div class="wrapper w-100 text-center">
        <div id="progress-bar" class="preloader-text" data-text="RIBUILD"></div>
        <div class="progress-bar">
            <div class="progress"></div>
        </div>
    </div>
</div>
<!-- preloader end -->

<!-- preloader start -->
<div class="loading-form">
    <div class="sk-three-bounce">
        <div class="sk-child sk-bounce1"></div>
        <div class="sk-child sk-bounce2"></div>
        <div class="sk-child sk-bounce3"></div>
    </div>
</div>
<!-- preloader end -->

<!-- Backtotop start -->
<div id="scroll-percentage">
    <span id="scroll-percentage-value"></span>
</div>
<!-- Backtotop end -->

<!-- cursorAnimation start -->
<div class="cursor-wrapper relative">
    <div class="cursor"></div>
    <div class="cursor-follower"></div>
</div>
<!-- cursorAnimation end -->

<!-- search popup start -->
<div class="search__popup">
    <div class="container">
        <div class="row gx-30">
            <div class="col-xxl-12">
                <div class="search__wrapper">
                    <div class="search__top d-flex justify-content-between align-items-center">
                        <div class="search__logo">
                           
                        </div>
                        <div class="search__close">
                            <button type="button" class="search__close-btn search-close-btn">
                                <svg width="18" height="18" viewBox="0 0 18 18" fill="none">
                                    <path d="M17 1L1 17" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                          stroke-linejoin="round" />
                                    <path d="M1 1L17 17" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                          stroke-linejoin="round" />
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="search__form">
                        <div class="search__input">
                            <input id="search-input" class="search-field" type="text" placeholder="Начните вводить для поиска...">
                        </div>
                        <div class="search-results"></div>
                    </div>
                    
                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var searchInput = document.querySelector('.search-field');
        var searchResults = document.querySelector('.search-results');
    
        // Отслеживаем ввод в поле поиска
        searchInput.addEventListener('input', function () {
            searchResults.classList.add('showSearch');
            performSearch();
        });
    
        function performSearch() {
            var query = searchInput.value.trim();  // Убираем пробелы в начале и конце
    
            if (query.length > 2) {
                // Отправляем AJAX-запрос на сервер
                fetch('/project/search/?query=' + encodeURIComponent(query))
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Ошибка сети');
                        }
                        return response.json();
                    })
                    .then(data => {
                        // Очищаем предыдущие результаты
                        searchResults.innerHTML = '';
                        let foundSomething = false;
    
                        // Отображаем результаты поиска по проектам
                        if (data.project && data.project.length > 0) {
                            foundSomething = true;
                            searchResults.innerHTML += '<h3>Проекты</h3>';
                            data.project.forEach(function(project) {
                                searchResults.innerHTML += `
                                    <div>
                                        <a href="/project/${project.id}/" class="search-result-link">
                                            <strong>${project.title}</strong>
                                        </a>
                                    </div>`;
                            });
                        }
    
                        // Отображаем результаты поиска по новостям
                        if (data.news && data.news.length > 0) {
                            foundSomething = true;
                            searchResults.innerHTML += '<h3>Новости</h3>';
                            data.news.forEach(function(news) {
                                searchResults.innerHTML += `
                                    <div>
                                        <a href="/news/${news.id}/" class="search-result-link">
                                            <strong>${news.title}</strong>
                                        </a>
                                    </div>`;
                            });
                        }
    
                        // Если ничего не найдено
                        if (!foundSomething) {
                            searchResults.innerHTML = '<p>Ничего не найдено.</p>';
                        }
                    })
                    .catch(error => {
                        console.error('Ошибка при выполнении запроса:', error);
                        searchResults.innerHTML = 'Произошла ошибка при поиске. Пожалуйста, попробуйте позже.';
                    });
            } else {
                // Очищаем результаты, если введено меньше 3 символов
                searchResults.innerHTML = '';
            }
        }
    });
</script>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- search popup end -->

<!-- Offcanvas area start -->
<div class="fix">
    <div class="offcanvas__area">
        <div class="offcanvas__wrapper">
            <div class="offcanvas__content">
                <div class="offcanvas__top d-flex justify-content-between align-items-center">
                    <div class="offcanvas__logo">
                        <a href="index.html">
                            <img src="{% static 'assets/imgs/logo/logo-white.svg' %}" alt="logo not found">
                        </a>
                    </div>
                    <div class="offcanvas__close">
                        <button class="offcanvas-close-icon animation--flip">
                                <span class="offcanvas-m-lines">
                              <span class="offcanvas-m-line line--1"></span><span class="offcanvas-m-line line--2"></span><span class="offcanvas-m-line line--3"></span>
                                </span>
                        </button>
                    </div>
                </div>
                <div class="mobile-menu fix"></div>
                <div class="offcanvas__social">
                    <h4 class="offcanvas__title mb-20">Subscribe & Follow</h4>
                    <p class="mb-30">The scallops were perfectly cooked, tender, and flavorful, paired beautifully with a creamy risotto and seasonal vegetables. The presentation was artful, showcasing the chef's attention to detail.</p>
                    <ul class="header-top-socail-menu d-flex">
                        <li><a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="https://www.linkedin.com/"><i class="fa-brands fa-linkedin-in"></i></a></li>
                        <li><a href="https://www.pinterest.com/"><i class="fa-brands fa-pinterest-p"></i></a></li>
                        <li><a href="https://vimeo.com/"><i class="fa-brands fa-vimeo-v"></i></a></li>
                    </ul>
                </div>
                <div class="offcanvas__btn">
                    <div class="header__btn-wrap">
                        <a href="contact.html" class="rr-btn__header d-sm-none mb-10 w-100">
                            <span class="btn-wrap">
                                <span class="text-one">Get Started</span>
                                <span class="text-two">Get Started</span>
                            </span>
                        </a>
                        <a href="https://themeforest.net/user/rrdevs/portfolio" class="rr-btn__header w-100">
                            <span class="btn-wrap">
                                <span class="text-one">Purchase Now</span>
                                <span class="text-two">Purchase Now</span>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="offcanvas__overlay"></div>
<div class="offcanvas__overlay-white"></div>
<!-- Offcanvas area start -->

<!-- Header area start -->
{% include 'include/header.html' %}
<!-- Header area end -->

<main>
    <!-- Breadcrumb area start  -->
    <div class="breadcrumb__area breadcrumb-space overly theme-bg-heading-primary overflow-hidden">
        <div class="breadcrumb__background" data-background="{{about.banner.url}}"></div>
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-12">
                    <div class="breadcrumb__content text-center">
                        <h1 class="breadcrumb__title color-white title-animation">Наша комманда</h1>
                        <div class="breadcrumb__menu d-inline-flex justify-content-center">
                            <nav>
                                <ul>
                                    <li>
                                        <span>
                                            <a href="{% url 'index'%}">
                                                <svg width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M1 5.9L7.5 1L14 5.9V13.6C14 13.9713 13.8478 14.3274 13.5769 14.5899C13.306 14.8525 12.9386 15 12.5556 15H2.44444C2.06135 15 1.69395 14.8525 1.42307 14.5899C1.15218 14.3274 1 13.9713 1 13.6V5.9Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                                <path d="M5.33398 15V8H9.66732V15" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                                </svg>

                                                Главная
                                            </a>
                                        </span>
                                    </li>
                                    <li class="active"><span>Комманда</span></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb area start  -->

    <!-- team area start -->
    <section class="team section-space__top">
        <div class="container">
            <div class="row mb-minus-30">
                {% for team in team %}
                <div class="col-xl-4 col-md-6">
                    <div class="team__item mb-30">
                        <a href="{% url 'team_detail' team.id%}" class="team__item-media d-block" data-cursor-text="View">
                            <img src="{{team.image.url}}" alt="image not found" class="img-fluid">
                        </a>

                        <div class="team__item-text d-flex align-items-center justify-content-between">
                            <div class="team__item-socail d-flex flex-wrap flex-column">
                                <a href="{{team.instagram}}"><img src="{% static 'assets/imgs/team/instagram.svg' %}" alt=""></a>
                                <a href="{{team.linkedin}}"><img src="{% static 'assets/imgs/team/linkedin.svg' %}" alt=""></a>
                                <a href="{{team.facebook}}"><img src="{% static 'assets/imgs/team/facebook.svg' %}" alt=""></a>
                            </div>

                            <div class="team__item-text__left">
                                <h4 class="team__item-title rr-fw-bold color-white mb-0"><a href="{% url 'team_detail' team.id%}">{{team.name}}</a></h4>
                                <span class="team__item-subtitle color-white">{{team.rols}}</span>
                            </div>
                            
                        </div>
                    </div>
                </div>
                {% endfor %}
                
            </div>
        </div>
    </section>
    <!-- team area end -->

    <!-- our-clients area start -->
    <div class="our-clients section-space-80">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="swiper brand__active">
                        <div class="swiper-wrapper">
                            {% for partner in partner %}
                            <div class="swiper-slide">
                                <div class="brand__item text-center">
                                    <a href="" class="brand__thumb brand__thumb-hover-secondary">
                                        <img class="img-fluid" src="{{partner.image.url}}" alt="image not found">
                                    </a>
                                </div>
                            </div>
                            {% endfor %}
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- our-clients area end -->
</main>
<!-- Footer area start -->
{% include 'include/footer.html' %}
<!-- Footer area end -->

<!-- JS here -->
{% endblock %}